html {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  color: #fff;
  text-align: center;
  margin: 0;
