html {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  color: #fff;
  text-align: center;
  margin: 0;
}

  body {
    background-color: #dbd6cf;
    line-height: 1.5;
    margin: 0;
}

  ul {
  padding: 0;
  text-align: center;
  margin-top: 0;
}

  nav li {
  list-style-type: none;
  display: inline-block;
}


nav li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  padding: .6em .5em .75em;
  margin: .3em;
  background-color: #713837;
  border-radius: 4.5px;
}

nav li a:hover {
  background-color: #f33;
}
